<div class="module-header">Action recognition</div>

<div class="materials-item">
	<a href="classification/">
		Recurrent neural networks
	</a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1512.03958.pdf">  RNN Fisher Vectors for Action Recognition and Image Annotation </a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1506.01911.pdf">  Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video </a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1605.02346.pdf">  Chained Predictions Using Convolutional Neural Networks </a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1503.08909.pdf">  Beyond Short Snippets: Deep Networks for Video Classification </a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1411.4389.pdf">  Long-Term Recurrent Convolutional Networks for Visual Recognition and Description </a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1502.04681.pdf">  Unsupervised Learning of Video Representations Using LSTMs </a>
</div>
<div class="paper">
	<a href="https://arxiv.org/abs/1504.01561.pdf">  Modeling Spatial-Temporal Clues in a Hybrid Deep Learning Framework for Video Classification </a>
</div>

<div class="materials-item">
	<a href="classification/">
		Temporal convolution
	</a>
<div class="paper">
<a href="https://arxiv.org/abs/1506.01911.pdf">  Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video </a>
</div>
<div class="paper">
<a href="https://arxiv.org/abs/1708.05038.pdf">  ConvNet Architecture Search for Spatiotemporal Feature Learning </a>
</div>
<div class="paper">
<a href="https://arxiv.org/abs/1412.0767.pdf">  Learning Spatiotemporal Features with 3D Convolutional Networks </a>
</div>
<div class="paper">
<a href="https://arxiv.org/abs/1604.06573.pdf">  Convolutional Two-Stream Network Fusion for Video Action Recognition </a>
</div>
</div>



<ul>
  <li>Action recognition</li>
    <ul>
    <li>Recurrent neural network</li>
        <ul>
          <a href="https://arxiv.org/abs/1512.03958.pdf">  RNN Fisher Vectors for Action Recognition and Image Annotation </a> <br>
          <a href="https://arxiv.org/abs/1506.01911.pdf">  Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video </a> <br>
          <a href="https://arxiv.org/abs/1605.02346.pdf">  Chained Predictions Using Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1503.08909.pdf">  Beyond Short Snippets: Deep Networks for Video Classification </a> <br>
          <a href="https://arxiv.org/abs/1411.4389.pdf">  Long-Term Recurrent Convolutional Networks for Visual Recognition and Description </a> <br>
          <a href="https://arxiv.org/abs/1502.04681.pdf">  Unsupervised Learning of Video Representations Using LSTMs </a> <br>
          <a href="https://arxiv.org/abs/1504.01561.pdf">  Modeling Spatial-Temporal Clues in a Hybrid Deep Learning Framework for Video Classification </a> <br>
    </ul>
    <li>Temporal convolution</li>
        <ul>
          <a href="https://arxiv.org/abs/1506.01911.pdf">  Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video </a> <br>
          <a href="https://arxiv.org/abs/1708.05038.pdf">  ConvNet Architecture Search for Spatiotemporal Feature Learning </a> <br>
          <a href="https://arxiv.org/abs/1412.0767.pdf">  Learning Spatiotemporal Features with 3D Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1604.06573.pdf">  Convolutional Two-Stream Network Fusion for Video Action Recognition </a> <br>
    </ul>
    <li>Pooling</li>
        <ul>
          <a href="https://arxiv.org/abs/1603.05474.pdf">  Neural Aggregation Network for Video Face Recognition </a> <br>
          <a href="https://arxiv.org/abs/1704.02895.pdf">  Actionvlad: Learning Spatio-Temporal Aggregation for Action Classification </a> <br>
          <a href="https://arxiv.org/abs/1611.06678.pdf">  Deep Temporal Linear Encoding Networks </a> <br>
          <a href="https://arxiv.org/abs/1701.05432.pdf">  Higher-Order Pooling of CNN Features via Kernel Linearization for Action Recognition </a> <br>
          <a href="https://arxiv.org/abs/1704.06925.pdf">  Second-Order Temporal Pooling for Action Recognition </a> <br>
          <a href="https://arxiv.org/abs/1704.02112.pdf">  Generalized Rank Pooling for Activity Recognition </a> <br>
          <a href="https://arxiv.org/abs/1503.01224.pdf">  Temporal Pyramid Pooling Based Convolutional Neural Networks for Action Recognition </a> <br>
          <a href="https://arxiv.org/abs/1602.00224.pdf">  Order-Aware Convolutional Pooling for Video Based Action Recognition </a> <br>
    </ul>
  </ul>
  <li>Classification</li>
    <ul>
    <li>Fine-grained</li>
        <ul>
          <a href="https://arxiv.org/abs/1412.3161.pdf">  Object-Centric Sampling for Fine-Grained Image Classification </a> <br>
          <a href="https://arxiv.org/abs/1504.07889.pdf">  Bilinear CNN Models for Fine-Grained Visual Recognition </a> <br>
          <a href="https://arxiv.org/abs/1605.06878.pdf">  Mask-CNN: Localizing Parts and Selecting Descriptors for Fine-Grained Image Recognition </a> <br>
          <a href="https://arxiv.org/abs/1605.01014.pdf">  Deep Deformation Network for Object Landmark Localization </a> <br>
          <a href="https://arxiv.org/abs/1709.02476.pdf"> Fine-grained Recognition in the Wild: A Multi-Task Domain Adaptation Approach </a> <br>
          <a href="https://arxiv.org/abs/1605.01130.pdf">  Mining Discriminative Triplets of Patches for Fine-Grained Classification </a> <br>
          <a href="https://arxiv.org/abs/1511.07063.pdf">  Fine-Grained Pose Prediction, Normalization, and Recognition </a> <br>
          <a href="https://arxiv.org/abs/1411.3159.pdf">  Part Detector Discovery in Deep Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1512.08086.pdf">  Part-Stacked CNN for Fine-Grained Visual Categorization </a> <br>
    </ul>
  </ul>
  <li>Convolution</li>
    <ul>
    <li>On graphs</li>
        <ul>
          <a href="https://arxiv.org/abs/1702.07759.pdf">  Unifying Local and Non-Local Signal Processing with Graph CNNs </a> <br>
          <a href="https://arxiv.org/abs/1609.08965.pdf">  Graph Based Convolutional Neural Network </a> <br>
          <a href="https://arxiv.org/abs/1706.05206.pdf">  Dynamic Filters in Graph Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1704.02901.pdf">  Dynamic Edge-Conditioned Filters in Convolutional Neural Networks on Graphs </a> <br>
          <a href="https://arxiv.org/abs/1704.08165.pdf">  A Generalization of Convolutional Neural Networks to Graph-Structured Data </a> <br>
          <a href="https://arxiv.org/abs/1606.09375.pdf">  Convolutional Neural Networks on Graphs with Fast Localized Spectral Filtering </a> <br>
          <a href="https://arxiv.org/abs/1312.6203.pdf">  Spectral Networks and Locally Connected Networks on Graphs </a> <br>
          <a href="https://arxiv.org/abs/1511.02136.pdf">  Diffusion-Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1506.05163.pdf">  Deep Convolutional Networks on Graph-Structured Data </a> <br>
    </ul>
    <li>Adaptive</li>
        <ul>
          <a href="https://arxiv.org/abs/1703.06211.pdf">  Deformable Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1708.07199.pdf">  3D Morphable Models as Spatial Transformer Networks </a> <br>
          <a href="https://arxiv.org/abs/1506.02025.pdf">  Spatial Transformer Networks </a> <br>
          <a href="https://arxiv.org/abs/1703.09076.pdf">  Active Convolution: Learning the Shape of Convolution for Image Classification </a> <br>
          <a href="https://arxiv.org/abs/1709.01956.pdf">  Learning Dilation Factors for Semantic Segmentation of Street Scenes </a> <br>
          <a href="https://arxiv.org/abs/1605.09673.pdf">  Dynamic Filter Networks </a> <br>
          <a href="https://arxiv.org/abs/1705.08881.pdf">  Dense Transformer Networks </a> <br>
          <a href="https://arxiv.org/abs/1706.00598.pdf">  Dynamic Steerable Blocks in Deep Residual Networks </a> <br>
          <a href="https://arxiv.org/abs/1706.07966.pdf">  Irregular Convolutional Neural Networks </a> <br>
    </ul>
    <li>Sparse</li>
        <ul>
          <a href="https://arxiv.org/abs/1611.06694.pdf">  Training Sparse Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1504.08362.pdf">  PerforatedCNNs: Acceleration Through Elimination of Redundant Convolutions </a> <br>
          <a href="https://arxiv.org/abs/1708.06500.pdf">  Sparsity Invariant CNNs </a> <br>
          <a href="https://arxiv.org/abs/1606.01166.pdf">  Generalizing the Convolution Operator to Extend CNNs to Irregular Domains </a> <br>
          <a href="https://arxiv.org/abs/1706.01307.pdf">  Submanifold Sparse Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1505.05561.pdf">  Why Regularized Auto-Encoders Learn Sparse Representation; </a> <br>
          <a href="https://arxiv.org/abs/1511.06739.pdf">  Superpixel Convolutional Networks Using Bilateral Inceptions </a> <br>
          <a href="https://arxiv.org/abs/1503.04949.pdf">  Sparse Convolutional Networks Using the Permutohedral Lattice </a> <br>
    </ul>
    <li>Quantization</li>
        <ul>
          <a href="https://arxiv.org/abs/1603.05279.pdf">  XNOR-Net: Imagenet Classification Using Binary Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1511.00363.pdf">  Binaryconnect: Training Deep Neural Networks with Binary Weights During Propagations </a> <br>
          <a href="https://arxiv.org/abs/1605.04711.pdf">  Ternary Weight Networks </a> <br>
          <a href="https://arxiv.org/abs/1608.06049.pdf"> Local Binary Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1702.03044.pdf">  Incremental Network Quantization: Towards Lossless CNNs with Low-Precision Weights </a> <br>
          <a href="https://arxiv.org/abs/1606.01981.pdf">  Deep Neural Networks Are Robust to Weight Binarization and Other Non-Linear Distortions </a> <br>
          <a href="https://arxiv.org/abs/1412.6115.pdf">  Compressing Deep Convolutional Networks Using Vector Quantization </a> <br>
          <a href="https://arxiv.org/abs/1510.00149.pdf">  Deep Compression: Compressing Deep Neural Networks with Pruning, Trained Quantization and Huffman Coding </a> <br>
    </ul>
    <li>Dilated</li>
        <ul>
          <a href="https://arxiv.org/abs/1511.07122.pdf">  Multi-Scale Context Aggregation By Dilated Convolutions </a> <br>
          <a href="https://arxiv.org/abs/1706.05587.pdf">  Rethinking Atrous Convolution for Semantic Image Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1705.09914.pdf">  Dilated Residual Networks </a> <br>
          <a href="https://arxiv.org/abs/1605.07251.pdf">  Dense CNN Learning with Equivalent Mappings </a> <br>
    </ul>
    <li>In frequency</li>
        <ul>
          <a href="https://arxiv.org/abs/1502.03436.pdf">  Fast Neural Networks with Circulant Projections </a> <br>
          <a href="https://arxiv.org/abs/1501.06297.pdf">  Shapenet: Convolutional Neural Networks on Non-Euclidean Manifolds </a> <br>
          <a href="https://arxiv.org/abs/1312.5851.pdf">  Fast Training of Convolutional Networks Through FFTs </a> <br>
          <a href="https://arxiv.org/abs/1412.7580.pdf">  Fast Convolutional Nets with Fbfft: A GPU Performance Evaluation </a> <br>
    </ul>
    <li>Structured</li>
        <ul>
          <a href="https://arxiv.org/abs/1703.08961.pdf">  Scaling the Scattering Transform: Deep Hybrid Networks </a> <br>
          <a href="https://arxiv.org/abs/1606.02407.pdf">  Structured Convolution Matrices for Energy-Efficient Deep Learning </a> <br>
          <a href="https://arxiv.org/abs/1605.02971.pdf">  Structured Receptive Fields in CNNs </a> <br>
          <a href="https://arxiv.org/abs/1705.01450.pdf">  Gabor Convolutional Networks </a> <br>
    </ul>
    <li>Low-rank</li>
        <ul>
          <a href="https://arxiv.org/abs/1511.06744.pdf">  Training CNNs with Low-Rank Filters for Efficient Image Classification </a> <br>
          <a href="https://arxiv.org/abs/1512.09194.pdf">  Exploiting Local Structures with the Kronecker Layer in Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1511.06067.pdf">  Convolutional Neural Networks with Low-Rank Regularization </a> <br>
          <a href="https://arxiv.org/abs/1707.02725.pdf">  Interleaved Group Convolutions for Deep Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1703.09746.pdf">  Coordinating Filters for Faster Deep Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1412.6553.pdf">  Speeding-Up Convolutional Neural Networks Using Fine-Tuned CP-Decomposition </a> <br>
          <a href="https://arxiv.org/abs/1608.04337.pdf">  Factorized Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1610.02357.pdf">  Deep Learning with Separable Convolutions </a> <br>
          <a href="https://arxiv.org/abs/1606.05426.pdf">  Decomposeme: Simplifying Convnets for End-to-End Learning </a> <br>
    </ul>
  </ul>
  <li>Detection</li>
    <ul>
    <li>Counting</li>
        <ul>
          <a href="https://arxiv.org/abs/1512.02326.pdf">  Learning to Point and Count </a> <br>
          <a href="https://arxiv.org/abs/1611.08998.pdf">  Deepsetnet: Predicting Sets with Deep Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1711.04433.pdf">  Crowd counting via scale-adaptive convolutional neural network </a> <br>
    </ul>
    <li>Object proposals</li>
        <ul>
          <a href="https://arxiv.org/abs/1503.06350.pdf">  Boosting Convolutional Features for Robust Object Proposals </a> <br>
          <a href="https://arxiv.org/abs/1601.04798.pdf">  Scale-Aware Pixel-Wise Object Proposal Networks </a> <br>
          <a href="https://arxiv.org/abs/1312.2249.pdf">  Scalable Object Detection Using Deep Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1505.05836.pdf">  Object-Proposal Evaluation Protocol Is  Gameable  </a> <br>
          <a href="https://arxiv.org/abs/1704.01069.pdf">  ME R-CNN: Multi-Expert Region-Based CNN for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1506.06204.pdf">  Learning to Segment Object Candidates </a> <br>
          <a href="https://arxiv.org/abs/1606.04702.pdf">  Deepproposals: Hunting Objects and Actions By Cascading Deep Convolutional Layers </a> <br>
          <a href="https://arxiv.org/abs/1511.06015.pdf">  Active Object Localization with Deep Reinforcement Learning </a> <br>
          <a href="https://arxiv.org/abs/1505.02146.pdf">  Deepbox: Learning Objectness with Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1510.04445.pdf">  DeepProposal: Hunting Objects By Cascading Deep Convolutional Layers </a> <br>
    </ul>
    <li>Part-based</li>
        <ul>
          <a href="https://arxiv.org/abs/1511.07131.pdf">  Deepm: A Deep Part-Based Model for Object Detection and Semantic Part Localization </a> <br>
          <a href="https://arxiv.org/abs/1412.5661.pdf">  Deepid-Net: Deformable Deep Convolutional Neural Networks for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1605.06878.pdf">  Mask-CNN: Localizing Parts and Selecting Descriptors for Fine-Grained Image Recognition </a> <br>
          <a href="https://arxiv.org/abs/1607.03738.pdf"> Do Semantic Parts Emerge in Convolutional Neural Networks; </a> <br>
          <a href="https://arxiv.org/abs/1409.5403.pdf">  Actions and Attributes from Wholes and Parts </a> <br>
          <a href="https://arxiv.org/abs/1409.5403.pdf">  Deformable Part Models Are Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1504.06066.pdf">  Object Detection Networks on Convolutional Feature Maps </a> <br>
          <a href="https://arxiv.org/abs/1504.08289.pdf">  Neural Activation Constellations: Unsupervised Part Model Discovery with Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1505.00276.pdf">  Joint Object and Part Segmentation Using Deep Learned Potentials </a> <br>
          <a href="https://arxiv.org/abs/1707.06175.pdf">  Deformable Part-based Fully Convolutional Network for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1512.08086.pdf">  Part-Stacked CNN for Fine-Grained Visual Categorization </a> <br>
    </ul>
    <li>Non-maximal suppresion</li>
        <ul>
          <a href="https://arxiv.org/abs/1704.04503.pdf">  Improving Object Detection with One Line of Code </a> <br>
          <a href="https://arxiv.org/abs/1511.06437.pdf">  A Convnet for Non-Maximum Suppression </a> <br>
          <a href="https://arxiv.org/abs/1704.03533.pdf">  Learning Detection with Diverse Proposals </a> <br>
          <a href="https://arxiv.org/abs/1705.02950.pdf">  Learning Non-Maximum Suppression </a> <br>
    </ul>
    <li>Pyramid architecture</li>
        <ul>
          <a href="https://arxiv.org/abs/1612.03144.pdf">  Feature Pyramid Networks for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1612.06851.pdf">  Beyond Skip Connections: Top-Down Modulation for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1708.02002.pdf">  Focal Loss for Dense Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1701.06659.pdf">  DSSD : Deconvolutional Single Shot Detector </a> <br>
    </ul>
    <li>Attention-guided</li>
        <ul>
          <a href="https://arxiv.org/abs/1606.04446.pdf">  Attend Refine Repeat: Active Box Proposal Generation via in-Out Localization </a> <br>
          <a href="https://arxiv.org/abs/1511.03776.pdf">  Pronet: Learning to Propose Object-Specific Boxes for Cascaded Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1611.03718.pdf">  Hierarchical Object Detection with Deep Reinforcement Learning </a> <br>
          <a href="https://arxiv.org/abs/1412.7755.pdf">  Multiple Object Recognition with Visual Attention </a> <br>
          <a href="https://arxiv.org/abs/1702.01478.pdf">  Attentional Network for Visual Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1512.07729.pdf">  G-CNN: an Iterative Grid Based Object Detector </a> <br>
          <a href="https://arxiv.org/abs/1511.06449.pdf">  Learning to Decompose for Object Detection and Instance Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1704.04224.pdf">  Spatial Memory for Context Reasoning in Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1512.07711.pdf">  Adaptive Object Detection Using Adjacency and Zoom Prediction </a> <br>
    </ul>
    <li>Weakly supervised</li>
        <ul>
          <a href="https://arxiv.org/abs/1511.02853.pdf">  Weakly Supervised Deep Detection Networks </a> <br>
          <a href="https://arxiv.org/abs/1704.00138.pdf">  Multiple Instance Detection Network with Online Instance Classifier Refinement </a> <br>
          <a href="https://arxiv.org/abs/1605.05538.pdf">  Improving Weakly-Supervised Object Localization By Micro-Annotation </a> <br>
          <a href="https://arxiv.org/abs/1609.03140.pdf">  Learning Semantic Part-Based Models From Google Images </a> <br>
          <a href="https://arxiv.org/abs/1506.03648.pdf">  Constrained Convolutional Neural Networks for Weakly Supervised Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1609.04331.pdf">  Contextlocnet: Context-Aware Deep Network Models for Weakly Supervised Localization </a> <br>
          <a href="https://arxiv.org/abs/1602.08405.pdf">  We Don t Need No Bounding-Boxes: Training Object Class Detectors Using Only Human Verification </a> <br>
          <a href="https://arxiv.org/abs/1411.6228.pdf">  From Image-Level to Pixel-Level Labeling with Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1504.08289.pdf">  Neural Activation Constellations: Unsupervised Part Model Discovery with Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1605.07651.pdf">  Self Paced Deep Learning for Weakly Supervised Object Detection </a> <br>
    </ul>
    <li>Proposal-based</li>
        <ul>
          <a href="https://arxiv.org/abs/1604.03540.pdf">  Training Region-Based Object Detectors with Online Hard Example Mining </a> <br>
          <a href="https://arxiv.org/abs/1708.02863.pdf">  CoupleNet: Coupling Global Structure with Local Parts for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1605.06409.pdf">  R-FCN: Object Detection via Region-Based Fully Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1506.01497.pdf">  Faster R-CNN: Towards Real-Time Object Detection with Region Proposal Networks </a> <br>
          <a href="https://arxiv.org/abs/1311.2524.pdf">  Rich Feature Hierarchies for Accurate Object Detection and Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1608.08021.pdf">  PVANET: Deep But Lightweight Neural Networks for Real-Time Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1604.00600.pdf">  Hypernet: Towards Accurate Region Proposal Generation and Joint Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1703.10295.pdf"> Denet: Scalable Real-Time Object Detection with Directed Sparse Sampling </a> <br>
          <a href="https://arxiv.org/abs/1504.08083.pdf">  Fast R-CNN </a> <br>
          <a href="https://arxiv.org/abs/1512.04143.pdf">  Inside-Outside Net: Detecting Objects in Context with Skip Pooling and Recurrent Neural Networks </a> <br>
    </ul>
  </ul>
  <li>Face</li>
    <ul>
    <li>Recognition</li>
        <ul>
          <a href="https://arxiv.org/abs/1412.1265.pdf">  Deeply Learned Face Representations Are Sparse, Selective, and Robust </a> <br>
          <a href="https://arxiv.org/abs/1506.01342.pdf">  Face Identification with Bilinear CNNs </a> <br>
          <a href="https://arxiv.org/abs/1505.02108.pdf"> Megaface: A Million Faces for Recognition at Scale </a> <br>
          <a href="https://arxiv.org/abs/1502.02766.pdf">  Multi-View Face Detection Using Deep Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1504.02351.pdf">  When Face Recognition Meets with Deep Learning: an Evaluation of Convolutional Neural Networks for Face Recognition </a> <br>
          <a href="https://arxiv.org/abs/1601.07883.pdf">  Towards the Design of an End-to-End Automated System for Image and Video-Based Recognition </a> <br>
          <a href="https://arxiv.org/abs/1501.05703.pdf">  Beyond Frontal Faces: Improving Person Recognition Using Multiple Cues </a> <br>
          <a href="https://arxiv.org/abs/1406.4773.pdf">  Deep Learning Face Representation By Joint Identification-Verification </a> <br>
    </ul>
  </ul>
  <li>Invariance</li>
    <ul>
    <li>Rotation</li>
        <ul>
          <a href="https://arxiv.org/abs/1507.08754.pdf">  Flip-Rotate-Pooling Convolution and Split Dropout on Convolution Neural Networks for Image Classification </a> <br>
          <a href="https://arxiv.org/abs/1612.09346.pdf">  Rotation Equivariant Vector Field Networks </a> <br>
          <a href="https://arxiv.org/abs/1703.08961.pdf">  Scaling the Scattering Transform: Deep Hybrid Networks </a> <br>
          <a href="https://arxiv.org/abs/1503.7077.pdf">  Rotation-Invariant Convolutional Neural Networks for Galaxy Morphology Prediction </a> <br>
          <a href="https://arxiv.org/abs/1612.04642.pdf">  Harmonic Networks: Deep Translation and Rotation Equivariance </a> <br>
          <a href="https://arxiv.org/abs/1709.01889.pdf"> Polar Transformer Networks </a> <br>
          <a href="https://arxiv.org/abs/1705.08623.pdf">  Deep Rotation Equivariant Network </a> <br>
          <a href="https://arxiv.org/abs/1602.02660.pdf">  Exploiting Cyclic Symmetry in Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1604.06318.pdf">  TI-POOLING: Transformation-Invariant Pooling for Feature Learning in Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1705.01450.pdf">  Gabor Convolutional Networks </a> <br>
    </ul>
    <li>Scale</li>
        <ul>
          <a href="https://arxiv.org/abs/1602.01255.pdf">  Learning Scale-Variant and Scale-Invariant Features for Deep Image Classification </a> <br>
          <a href="https://arxiv.org/abs/1610.03623.pdf">  Fast Training of Convolutional Neural Networks via Kernel Rescaling </a> <br>
          <a href="https://arxiv.org/abs/1511.05635.pdf">  Competitive Multi-Scale Convolution </a> <br>
          <a href="https://arxiv.org/abs/1411.6369.pdf">  Scale-Invariant Convolutional Neural Network </a> <br>
          <a href="https://arxiv.org/abs/1505.03597.pdf"> Looking Outside of the Box: Object Detection and Localization with Multi-Scale Patterns </a> <br>
          <a href="https://arxiv.org/abs/1611.05837.pdf">  Autoscaler: Scale-Attention Networks for Visual Correspondence </a> <br>
          <a href="https://arxiv.org/abs/1511.07125.pdf">  What Happened to My Dog in That Network: Unraveling Top-Down Generators in Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1611.07661.pdf">  Neural Multigrid </a> <br>
          <a href="https://arxiv.org/abs/1511.03339.pdf">  Attention to Scale: Scale-Aware Semantic Image Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1412.5104.pdf">  Locally Scale-Invariant Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1703.02009.pdf">  Learning Across Scales : A Multiscale Method for Convolution Neural Networks </a> <br>
    </ul>
    <li>Measuring</li>
        <ul>
          <a href="https://arxiv.org/abs/1512.01320.pdf">  What Can We Learn About CNNs From a Large Scale Controlled Object Dataset; </a> <br>
          <a href="https://arxiv.org/abs/1507.06535.pdf">  Manitest: Are Classifiers Really Invariant; </a> <br>
          <a href="https://arxiv.org/abs/1505.06795.pdf">  How Well Can a CNN Marginalize Simple Nuisances It Is Designed for; </a> <br>
          <a href="https://arxiv.org/abs/1610.04574.pdf">  Generalization Error of Invariant Classifiers </a> <br>
          <a href="https://arxiv.org/abs/1412.7122.pdf">  Exploring Invariances in Deep Convolutional Neural Networks Using Synthetic Images </a> <br>
          <a href="https://arxiv.org/abs/1511.06394.pdf">  Geodesics of Learned Representations </a> <br>
          <a href="https://arxiv.org/abs/1501.05152.pdf">  Mirror, Mirror on the Wall, Tell Me, Is the Error Small; </a> <br>
          <a href="https://arxiv.org/abs/1508.02844.pdf">  What Is Holding Back Convnets for Detection; </a> <br>
    </ul>
  </ul>
  <li>Registration/correspondence</li>
    <ul>
    <li>Semantic parts</li>
        <ul>
          <a href="https://arxiv.org/abs/1606.03558.pdf">  Universal Correspondence Network </a> <br>
          <a href="https://arxiv.org/abs/1702.00926.pdf">  FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence </a> <br>
          <a href="https://arxiv.org/abs/1705.04043.pdf">  Scnet: Learning Semantic Correspondence </a> <br>
          <a href="https://arxiv.org/abs/1704.04749.pdf">  Anchornet: A Weakly Supervised Network to Learn Geometry-Sensitive Features for Semantic Matching </a> <br>
    </ul>
    <li>Dense optical flow</li>
        <ul>
          <a href="https://arxiv.org/abs/1611.00850.pdf">  Optical Flow Estimation Using a Spatial Pyramid Network </a> <br>
          <a href="https://arxiv.org/abs/1512.01815.pdf">  Patchbatch: a Batch Augmented Loss for Optical Flow </a> <br>
          <a href="https://arxiv.org/abs/1501.00642.pdf">  Unsupervised Feature Learning for Dense Correspondences Across Scenes </a> <br>
          <a href="https://arxiv.org/abs/1603.06041.pdf">  Learning Image Matching By Simply Watching Video </a> <br>
          <a href="https://arxiv.org/abs/1611.05837.pdf">  Autoscaler: Scale-Attention Networks for Visual Correspondence </a> <br>
          <a href="https://arxiv.org/abs/1506.07656.pdf">  Deep Convolutional Matching </a> <br>
          <a href="https://arxiv.org/abs/1601.07532.pdf">  Learning to Extract Motion From Videos in Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1609.03532.pdf">  Fully-Trainable Deep Matching </a> <br>
          <a href="https://arxiv.org/abs/1604.01827.pdf">  Deep Semantic Matching for Optical Flow </a> <br>
          <a href="https://arxiv.org/abs/1504.06852.pdf">  Flownet: Learning Optical Flow with Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1612.01925.pdf">  Flownet 2.0: Evolution of Optical Flow Estimation with Deep Networks </a> <br>
    </ul>
  </ul>
  <li>Retrieval</li>
    <ul>
    <li>Spatial matching</li>
        <ul>
          <a href="https://arxiv.org/abs/1701.07901.pdf">  Deep Region Hashing for Efficient Large-Scale Instance Search From Images </a> <br>
          <a href="https://arxiv.org/abs/1511.05879.pdf">  Particular Object Retrieval with Integral Max-Pooling of CNN Activations </a> <br>
          <a href="https://arxiv.org/abs/1403.6382.pdf">  CNN Features Off-the-Shelf: an Astounding Baseline for Recognition </a> <br>
          <a href="https://arxiv.org/abs/1412.6574.pdf">  Visual Instance Retrieval with Deep Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1403.6382.pdf">  CNN Features Off-the-Shelf: an Astounding Baseline for Recognition </a> <br>
          <a href="https://arxiv.org/abs/1612.06321.pdf">  Image Retrieval with Deep Local Features and Attention-Based Keypoints </a> <br>
          <a href="https://arxiv.org/abs/1611.08906.pdf">  Voronoi-Based Compact Image Descriptors: Efficient Region-of-Interest Retrieval with VLAD and Deep-Learning-Based Descriptors </a> <br>
    </ul>
    <li>Pooling</li>
        <ul>
          <a href="https://arxiv.org/abs/1504.06591.pdf">  Object Level Deep Feature Pooling for Compact Image Representation </a> <br>
          <a href="https://arxiv.org/abs/1605.06914.pdf">  Embedding Based on Function Approximation for Large Scale Image Search </a> <br>
          <a href="https://arxiv.org/abs/1510.07493.pdf">  Aggregating Deep Convolutional Features for Image Retrieval </a> <br>
          <a href="https://arxiv.org/abs/1703.01226.pdf">  Context Aware Query Image Representation for Particular Object Retrieval </a> <br>
          <a href="https://arxiv.org/abs/1509.06033.pdf">  Deep Convolutional Features for Image Based Retrieval and Scene Categorization </a> <br>
          <a href="https://arxiv.org/abs/1612.06321.pdf">  Image Retrieval with Deep Local Features and Attention-Based Keypoints </a> <br>
          <a href="https://arxiv.org/abs/1511.07247.pdf">  Netvlad: CNN Architecture for Weakly Supervised Place Recognition </a> <br>
          <a href="https://arxiv.org/abs/1604.08893.pdf">  Faster R-CNN Features for Instance Search </a> <br>
          <a href="https://arxiv.org/abs/1606.06811.pdf">  Where to Focus: Query Adaptive Matching for Instance Retrieval Using Convolutional Feature Maps </a> <br>
    </ul>
    <li>Learning similarity</li>
        <ul>
          <a href="https://arxiv.org/abs/1709.01353.pdf">  Learning Non-Metric Visual Similarity for Image Retrieval </a> <br>
          <a href="https://arxiv.org/abs/1604.02426.pdf">  CNN Image Retrieval Learns From Bow: Unsupervised Fine-Tuning with Hard Examples </a> <br>
          <a href="https://arxiv.org/abs/1711.02512.pdf">  Fine-Tuning CNN Image Retrieval with No Human Annotation </a> <br>
          <a href="https://arxiv.org/abs/1604.01325.pdf">  Deep Image Retrieval: Learning Global Representations for Image Search </a> <br>
          <a href="https://arxiv.org/abs/1610.07940.pdf">  End-to-End Learning of Deep Visual Representations for Image Retrieval </a> <br>
    </ul>
  </ul>
  <li>Segmentation</li>
    <ul>
    <li>Weakly supervised</li>
        <ul>
          <a href="https://arxiv.org/abs/1603.07485.pdf">  Weakly Supervised Semantic Labelling and Instance Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1603.07188.pdf">  Weakly-Supervised Semantic Segmentation Using Motion Cues </a> <br>
          <a href="https://arxiv.org/abs/1701.08261.pdf">  Exploiting Saliency for Object Segmentation From Image Level Labels </a> <br>
          <a href="https://arxiv.org/abs/1506.02106.pdf">  What s the Point: Semantic Segmentation with Point Supervision </a> <br>
    </ul>
    <li>Edge-based</li>
        <ul>
          <a href="https://arxiv.org/abs/1608.02755.pdf"> Convolutional Oriented Boundaries </a> <br>
          <a href="https://arxiv.org/abs/1511.03328.pdf">  Semantic Image Segmentation with Task-Specific Edge Detection Using CNNs and a Discriminatively Trained Domain Transform </a> <br>
          <a href="https://arxiv.org/abs/1611.05198.pdf"> One-Shot Video Object Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1701.04658.pdf"> Convolutional Oriented Boundaries: From Image Segmentation to High-Level Tasks </a> <br>
    </ul>
    <li>Instance segmentation</li>
        <ul>
          <a href="https://arxiv.org/abs/1612.03129.pdf">  Shape-Aware Instance Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1603.08678.pdf">  Instance-Sensitive Fully Convolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1603.09742.pdf">  Object Boundary Guided Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1611.07709.pdf">  Fully Convolutional Instance-Aware Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1611.08991.pdf">  Object Detection Free Instance Segmentation with Labeling Transformations </a> <br>
          <a href="https://arxiv.org/abs/1506.06204.pdf">  Learning to Segment Object Candidates </a> <br>
          <a href="https://arxiv.org/abs/1604.02135.pdf">  A Multipath Network for Object Detection </a> <br>
          <a href="https://arxiv.org/abs/1505.03159.pdf">  Monocular Object Instance Segmentation and Depth Ordering with CNNs </a> <br>
          <a href="https://arxiv.org/abs/1703.06870.pdf">  Mask R-CNN </a> <br>
          <a href="https://arxiv.org/abs/1703.10277.pdf">  Semantic Instance Segmentation via Deep Metric Learning </a> <br>
          <a href="https://arxiv.org/abs/1704.02386.pdf">  Pixelwise Instance Segmentation with a Dynamically Instantiated Network </a> <br>
    </ul>
    <li>Deconvolution</li>
        <ul>
          <a href="https://arxiv.org/abs/1511.07122.pdf">  Multi-Scale Context Aggregation By Dilated Convolutions </a> <br>
          <a href="https://arxiv.org/abs/1703.02719.pdf">  Large Kernel Matters -: Improve Semantic Segmentation By Global Convolutional Network </a> <br>
          <a href="https://arxiv.org/abs/1611.09326.pdf">  The One Hundred Layers Tiramisu: Fully Convolutional Densenets for Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1511.07356.pdf">  Recombinator Networks: Learning Coarse-to-Fine Feature Aggregation </a> <br>
          <a href="https://arxiv.org/abs/1602.03930.pdf">  Global Deconvolutional Networks for Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1705.06820.pdf">  Pixel Deconvolutional Networks </a> <br>
          <a href="https://arxiv.org/abs/1605.06211.pdf">  Fully Convolutional Networks for Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1506.04924.pdf">  Decoupled Deep Neural Network for Semi-Supervised Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1505.04366.pdf">  Learning Deconvolution Network for Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1602.04984.pdf">  Deconvolutional Feature Stacking for Weakly-Supervised Semantic Segmentation </a> <br>
    </ul>
    <li>Video</li>
        <ul>
          <a href="https://arxiv.org/abs/1511.06681.pdf">  Deep End2End Voxel2Voxel Prediction </a> <br>
          <a href="https://arxiv.org/abs/1608.03609.pdf">  Clockwork Convnets for Video Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1704.05674.pdf">  Unsupervised Object Segmentation in Video By Efficient Selection of Highly Probable Positive Features </a> <br>
          <a href="https://arxiv.org/abs/1704.05737.pdf">  Learning Video Object Segmentation with Visual Memory </a> <br>
          <a href="https://arxiv.org/abs/1605.07363.pdf">  Spatio-Temporal Image Boundary Extrapolation </a> <br>
          <a href="https://arxiv.org/abs/1606.00487.pdf">  Recurrent Fully Convolutional Networks for Video Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1608.03066.pdf">  Object Detection, Tracking, and Motion Segmentation for Object-Level Video Segmentation </a> <br>
    </ul>
    <li>Morphology</li>
        <ul>
          <a href="https://arxiv.org/abs/1611.00421.pdf"> Flood-Filling Networks </a> <br>
          <a href="https://arxiv.org/abs/1611.08303.pdf">  Deep Watershed Transform for Instance Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1704.03593.pdf">  Reformulating Level Sets As Deep Recurrent Neural Network Approach to Semantic Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1704.02249.pdf">  Learned Watershed: End-to-End Learning of Seeded Segmentation </a> <br>
    </ul>
    <li>Conditionnal random fields</li>
        <ul>
          <a href="https://arxiv.org/abs/1412.7062.pdf">  Semantic Image Segmentation with Deep Convolutional Nets and Fully Connected CRFs </a> <br>
          <a href="https://arxiv.org/abs/1601.07649.pdf">  Discriminative Training of Deep Fully-Connected Continuous CRF with Task-Specific Loss </a> <br>
          <a href="https://arxiv.org/abs/1605.04068.pdf">  Fast Semantic Image Segmentation with High Order Context and Guided Filtering </a> <br>
          <a href="https://arxiv.org/abs/1605.07866.pdf">  Deepcut: Object Segmentation From Bounding Box Annotations Using Convolutional Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1512.07928.pdf">  Learning Transferrable Knowledge for Semantic Segmentation with Deep Convolutional Neural Network </a> <br>
          <a href="https://arxiv.org/abs/1606.00915.pdf">  Deeplab: Semantic Image Segmentation with Deep Convolutional Nets, Atrous Convolution, and Fully Connected CRFs </a> <br>
          <a href="https://arxiv.org/abs/1502.02734.pdf">  Weakly- and Semi-Supervised Learning of a DCNN for Semantic Image Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1502.03240.pdf"> Conditional Random Fields As Recurrent Neural Networks </a> <br>
          <a href="https://arxiv.org/abs/1504.01013.pdf">  Efficient Piecewise Training of Deep Structured Models for Semantic Segmentation </a> <br>
    </ul>
    <li>Things and stuff</li>
        <ul>
          <a href="https://arxiv.org/abs/1412.1283.pdf">  Convolutional Feature Masking for Joint Object and Stuff Segmentation </a> <br>
          <a href="https://arxiv.org/abs/1703.08000.pdf">  Weakly Supervised Object Localization Using Things and Stuff Transfer </a> <br>
          <a href="https://arxiv.org/abs/1612.03716.pdf">  COCO-Stuff: Thing and Stuff Classes in Context </a> <br>
          <a href="https://arxiv.org/abs/1610.05861.pdf">  Stuffnet: Using  Stuff  to Improve Object Detection </a> <br>
    </ul>
  </ul>
</ul>
