				<div class="papers-wrap">
					<div class="papers-header">Action recognition</div>
					<div class="papers-item">Recurrent neural networks</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.03958"> RNN Fisher Vectors for Action Recognition and Image Annotation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.01911"> Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.02346"> Chained Predictions Using Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1503.08909"> Beyond Short Snippets: Deep Networks for Video Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1411.4389"> Long-Term Recurrent Convolutional Networks for Visual Recognition and Description</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1502.04681"> Unsupervised Learning of Video Representations Using LSTMs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.01561"> Modeling Spatial-Temporal Clues in a Hybrid Deep Learning Framework for Video Classification</a>
					</div>
					<div class="papers-item">Temporal convolution</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.01911"> Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1708.05038"> ConvNet Architecture Search for Spatiotemporal Feature Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.0767"> Learning Spatiotemporal Features with 3D Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.06573"> Convolutional Two-Stream Network Fusion for Video Action Recognition</a>
					</div>
					<div class="papers-item">Pooling</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.05474"> Neural Aggregation Network for Video Face Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.02895"> Actionvlad: Learning Spatio-Temporal Aggregation for Action Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.06678"> Deep Temporal Linear Encoding Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1701.05432"> Higher-Order Pooling of CNN Features via Kernel Linearization for Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.06925"> Second-Order Temporal Pooling for Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.02112"> Generalized Rank Pooling for Activity Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1503.01224"> Temporal Pyramid Pooling Based Convolutional Neural Networks for Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1602.00224"> Order-Aware Convolutional Pooling for Video Based Action Recognition</a>
					</div>
					<div class="papers-header">Classification</div>
					<div class="papers-item">Fine-grained</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.3161"> Object-Centric Sampling for Fine-Grained Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.07889"> Bilinear CNN Models for Fine-Grained Visual Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.06878"> Mask-CNN: Localizing Parts and Selecting Descriptors for Fine-Grained Image Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.01014"> Deep Deformation Network for Object Landmark Localization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1709.02476">Fine-grained Recognition in the Wild: A Multi-Task Domain Adaptation Approach</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.01130"> Mining Discriminative Triplets of Patches for Fine-Grained Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07063"> Fine-Grained Pose Prediction, Normalization, and Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1411.3159"> Part Detector Discovery in Deep Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.08086"> Part-Stacked CNN for Fine-Grained Visual Categorization</a>
					</div>
					<div class="papers-header">Convolution</div>
					<div class="papers-item">On graphs</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1702.07759"> Unifying Local and Non-Local Signal Processing with Graph CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1609.08965"> Graph Based Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1706.05206"> Dynamic Filters in Graph Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.02901"> Dynamic Edge-Conditioned Filters in Convolutional Neural Networks on Graphs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.08165"> A Generalization of Convolutional Neural Networks to Graph-Structured Data</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.09375"> Convolutional Neural Networks on Graphs with Fast Localized Spectral Filtering</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1312.6203"> Spectral Networks and Locally Connected Networks on Graphs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.02136"> Diffusion-Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.05163"> Deep Convolutional Networks on Graph-Structured Data</a>
					</div>
					<div class="papers-item">Adaptive</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.06211"> Deformable Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1708.07199"> 3D Morphable Models as Spatial Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.02025"> Spatial Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.09076"> Active Convolution: Learning the Shape of Convolution for Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1709.01956"> Learning Dilation Factors for Semantic Segmentation of Street Scenes</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.09673"> Dynamic Filter Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.08881"> Dense Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1706.00598"> Dynamic Steerable Blocks in Deep Residual Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1706.07966"> Irregular Convolutional Neural Networks</a>
					</div>
					<div class="papers-item">Sparse</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.06694"> Training Sparse Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.08362"> PerforatedCNNs: Acceleration Through Elimination of Redundant Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1708.06500"> Sparsity Invariant CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.01166"> Generalizing the Convolution Operator to Extend CNNs to Irregular Domains</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1706.01307"> Submanifold Sparse Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.05561"> Why Regularized Auto-Encoders Learn Sparse Representation;</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06739"> Superpixel Convolutional Networks Using Bilateral Inceptions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1503.04949"> Sparse Convolutional Networks Using the Permutohedral Lattice</a>
					</div>
					<div class="papers-item">Quantization</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.05279"> XNOR-Net: Imagenet Classification Using Binary Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.00363"> Binaryconnect: Training Deep Neural Networks with Binary Weights During Propagations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.04711"> Ternary Weight Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1608.06049">Local Binary Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1702.03044"> Incremental Network Quantization: Towards Lossless CNNs with Low-Precision Weights</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.01981"> Deep Neural Networks Are Robust to Weight Binarization and Other Non-Linear Distortions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.6115"> Compressing Deep Convolutional Networks Using Vector Quantization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1510.00149"> Deep Compression: Compressing Deep Neural Networks with Pruning, Trained Quantization and Huffman Coding</a>
					</div>
					<div class="papers-item">Dilated</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07122"> Multi-Scale Context Aggregation By Dilated Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1706.05587"> Rethinking Atrous Convolution for Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.09914"> Dilated Residual Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.07251"> Dense CNN Learning with Equivalent Mappings</a>
					</div>
					<div class="papers-item">In frequency</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1502.03436"> Fast Neural Networks with Circulant Projections</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1501.06297"> Shapenet: Convolutional Neural Networks on Non-Euclidean Manifolds</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1312.5851"> Fast Training of Convolutional Networks Through FFTs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.7580"> Fast Convolutional Nets with Fbfft: A GPU Performance Evaluation</a>
					</div>
					<div class="papers-item">Structured</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.08961"> Scaling the Scattering Transform: Deep Hybrid Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.02407"> Structured Convolution Matrices for Energy-Efficient Deep Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.02971"> Structured Receptive Fields in CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.01450"> Gabor Convolutional Networks</a>
					</div>
					<div class="papers-item">Low-rank</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06744"> Training CNNs with Low-Rank Filters for Efficient Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.09194"> Exploiting Local Structures with the Kronecker Layer in Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06067"> Convolutional Neural Networks with Low-Rank Regularization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1707.02725"> Interleaved Group Convolutions for Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.09746"> Coordinating Filters for Faster Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.6553"> Speeding-Up Convolutional Neural Networks Using Fine-Tuned CP-Decomposition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1608.04337"> Factorized Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1610.02357"> Deep Learning with Separable Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.05426"> Decomposeme: Simplifying Convnets for End-to-End Learning</a>
					</div>
					<div class="papers-header">Detection</div>
					<div class="papers-item">Counting</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.02326"> Learning to Point and Count</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.08998"> Deepsetnet: Predicting Sets with Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1711.04433"> Crowd counting via scale-adaptive convolutional neural network</a>
					</div>
					<div class="papers-item">Object proposals</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1503.06350"> Boosting Convolutional Features for Robust Object Proposals</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1601.04798"> Scale-Aware Pixel-Wise Object Proposal Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1312.2249"> Scalable Object Detection Using Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.05836"> Object-Proposal Evaluation Protocol Is  Gameable </a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.01069"> ME R-CNN: Multi-Expert Region-Based CNN for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.06204"> Learning to Segment Object Candidates</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.04702"> Deepproposals: Hunting Objects and Actions By Cascading Deep Convolutional Layers</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06015"> Active Object Localization with Deep Reinforcement Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.02146"> Deepbox: Learning Objectness with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1510.04445"> DeepProposal: Hunting Objects By Cascading Deep Convolutional Layers</a>
					</div>
					<div class="papers-item">Part-based</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07131"> Deepm: A Deep Part-Based Model for Object Detection and Semantic Part Localization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.5661"> Deepid-Net: Deformable Deep Convolutional Neural Networks for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.06878"> Mask-CNN: Localizing Parts and Selecting Descriptors for Fine-Grained Image Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1607.03738">Do Semantic Parts Emerge in Convolutional Neural Networks;</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1409.5403"> Actions and Attributes from Wholes and Parts</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1409.5403"> Deformable Part Models Are Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.06066"> Object Detection Networks on Convolutional Feature Maps</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.08289"> Neural Activation Constellations: Unsupervised Part Model Discovery with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.00276"> Joint Object and Part Segmentation Using Deep Learned Potentials</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1707.06175"> Deformable Part-based Fully Convolutional Network for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.08086"> Part-Stacked CNN for Fine-Grained Visual Categorization</a>
					</div>
					<div class="papers-item">Non-maxima suppresion</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.04503"> Improving Object Detection with One Line of Code</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06437"> A Convnet for Non-Maximum Suppression</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.03533"> Learning Detection with Diverse Proposals</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.02950"> Learning Non-Maximum Suppression</a>
					</div>
					<div class="papers-item">Pyramid architecture</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.03144"> Feature Pyramid Networks for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.06851"> Beyond Skip Connections: Top-Down Modulation for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1708.02002"> Focal Loss for Dense Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1701.06659"> DSSD : Deconvolutional Single Shot Detector</a>
					</div>
					<div class="papers-item">Attention-guided</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.04446"> Attend Refine Repeat: Active Box Proposal Generation via in-Out Localization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.03776"> Pronet: Learning to Propose Object-Specific Boxes for Cascaded Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.03718"> Hierarchical Object Detection with Deep Reinforcement Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.7755"> Multiple Object Recognition with Visual Attention</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1702.01478"> Attentional Network for Visual Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.07729"> G-CNN: an Iterative Grid Based Object Detector</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06449"> Learning to Decompose for Object Detection and Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.04224"> Spatial Memory for Context Reasoning in Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.07711"> Adaptive Object Detection Using Adjacency and Zoom Prediction</a>
					</div>
					<div class="papers-item">Weakly supervised</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.02853"> Weakly Supervised Deep Detection Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.00138"> Multiple Instance Detection Network with Online Instance Classifier Refinement</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.05538"> Improving Weakly-Supervised Object Localization By Micro-Annotation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1609.03140"> Learning Semantic Part-Based Models From Google Images</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.03648"> Constrained Convolutional Neural Networks for Weakly Supervised Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1609.04331"> Contextlocnet: Context-Aware Deep Network Models for Weakly Supervised Localization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1602.08405"> We Don t Need No Bounding-Boxes: Training Object Class Detectors Using Only Human Verification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1411.6228"> From Image-Level to Pixel-Level Labeling with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.08289"> Neural Activation Constellations: Unsupervised Part Model Discovery with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.07651"> Self Paced Deep Learning for Weakly Supervised Object Detection</a>
					</div>
					<div class="papers-item">Proposal-based</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.03540"> Training Region-Based Object Detectors with Online Hard Example Mining</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1708.02863"> CoupleNet: Coupling Global Structure with Local Parts for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.06409"> R-FCN: Object Detection via Region-Based Fully Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.01497"> Faster R-CNN: Towards Real-Time Object Detection with Region Proposal Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1311.2524"> Rich Feature Hierarchies for Accurate Object Detection and Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1608.08021"> PVANET: Deep But Lightweight Neural Networks for Real-Time Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.00600"> Hypernet: Towards Accurate Region Proposal Generation and Joint Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.10295">Denet: Scalable Real-Time Object Detection with Directed Sparse Sampling</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.08083"> Fast R-CNN</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.04143"> Inside-Outside Net: Detecting Objects in Context with Skip Pooling and Recurrent Neural Networks</a>
					</div>
					<div class="papers-header">Face</div>
					<div class="papers-item">Recognition</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.1265"> Deeply Learned Face Representations Are Sparse, Selective, and Robust</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.01342"> Face Identification with Bilinear CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.02108">Megaface: A Million Faces for Recognition at Scale</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1502.02766"> Multi-View Face Detection Using Deep Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.02351"> When Face Recognition Meets with Deep Learning: an Evaluation of Convolutional Neural Networks for Face Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1601.07883"> Towards the Design of an End-to-End Automated System for Image and Video-Based Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1501.05703"> Beyond Frontal Faces: Improving Person Recognition Using Multiple Cues</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1406.4773"> Deep Learning Face Representation By Joint Identification-Verification</a>
					</div>
					<div class="papers-header">Invariance</div>
					<div class="papers-item">Rotation</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1507.08754"> Flip-Rotate-Pooling Convolution and Split Dropout on Convolution Neural Networks for Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.09346"> Rotation Equivariant Vector Field Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.08961"> Scaling the Scattering Transform: Deep Hybrid Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1503.7077"> Rotation-Invariant Convolutional Neural Networks for Galaxy Morphology Prediction</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.04642"> Harmonic Networks: Deep Translation and Rotation Equivariance</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1709.01889">Polar Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.08623"> Deep Rotation Equivariant Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1602.02660"> Exploiting Cyclic Symmetry in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.06318"> TI-POOLING: Transformation-Invariant Pooling for Feature Learning in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.01450"> Gabor Convolutional Networks</a>
					</div>
					<div class="papers-item">Scale</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1602.01255"> Learning Scale-Variant and Scale-Invariant Features for Deep Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1610.03623"> Fast Training of Convolutional Neural Networks via Kernel Rescaling</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.05635"> Competitive Multi-Scale Convolution</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1411.6369"> Scale-Invariant Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.03597">Looking Outside of the Box: Object Detection and Localization with Multi-Scale Patterns</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.05837"> Autoscaler: Scale-Attention Networks for Visual Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07125"> What Happened to My Dog in That Network: Unraveling Top-Down Generators in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.07661"> Neural Multigrid</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.03339"> Attention to Scale: Scale-Aware Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.5104"> Locally Scale-Invariant Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.02009"> Learning Across Scales : A Multiscale Method for Convolution Neural Networks</a>
					</div>
					<div class="papers-item">Measuring</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.01320"> What Can We Learn About CNNs From a Large Scale Controlled Object Dataset;</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1507.06535"> Manitest: Are Classifiers Really Invariant;</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.06795"> How Well Can a CNN Marginalize Simple Nuisances It Is Designed for;</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1610.04574"> Generalization Error of Invariant Classifiers</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.7122"> Exploring Invariances in Deep Convolutional Neural Networks Using Synthetic Images</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06394"> Geodesics of Learned Representations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1501.05152"> Mirror, Mirror on the Wall, Tell Me, Is the Error Small;</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1508.02844"> What Is Holding Back Convnets for Detection;</a>
					</div>
					<div class="papers-header">Registration/correspondence</div>
					<div class="papers-item">Semantic parts</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.03558"> Universal Correspondence Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1702.00926"> FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.04043"> Scnet: Learning Semantic Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.04749"> Anchornet: A Weakly Supervised Network to Learn Geometry-Sensitive Features for Semantic Matching</a>
					</div>
					<div class="papers-item">Dense optical flow</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.00850"> Optical Flow Estimation Using a Spatial Pyramid Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.01815"> Patchbatch: a Batch Augmented Loss for Optical Flow</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1501.00642"> Unsupervised Feature Learning for Dense Correspondences Across Scenes</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.06041"> Learning Image Matching By Simply Watching Video</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.05837"> Autoscaler: Scale-Attention Networks for Visual Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.07656"> Deep Convolutional Matching</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1601.07532"> Learning to Extract Motion From Videos in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1609.03532"> Fully-Trainable Deep Matching</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.01827"> Deep Semantic Matching for Optical Flow</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.06852"> Flownet: Learning Optical Flow with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.01925"> Flownet 2.0: Evolution of Optical Flow Estimation with Deep Networks</a>
					</div>
					<div class="papers-header">Retrieval</div>
					<div class="papers-item">Spatial matching</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1701.07901"> Deep Region Hashing for Efficient Large-Scale Instance Search From Images</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.05879"> Particular Object Retrieval with Integral Max-Pooling of CNN Activations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1403.6382"> CNN Features Off-the-Shelf: an Astounding Baseline for Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.6574"> Visual Instance Retrieval with Deep Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1403.6382"> CNN Features Off-the-Shelf: an Astounding Baseline for Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.06321"> Image Retrieval with Deep Local Features and Attention-Based Keypoints</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.08906"> Voronoi-Based Compact Image Descriptors: Efficient Region-of-Interest Retrieval with VLAD and Deep-Learning-Based Descriptors</a>
					</div>
					<div class="papers-item">Pooling</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.06591"> Object Level Deep Feature Pooling for Compact Image Representation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.06914"> Embedding Based on Function Approximation for Large Scale Image Search</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1510.07493"> Aggregating Deep Convolutional Features for Image Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.01226"> Context Aware Query Image Representation for Particular Object Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1509.06033"> Deep Convolutional Features for Image Based Retrieval and Scene Categorization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.06321"> Image Retrieval with Deep Local Features and Attention-Based Keypoints</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07247"> Netvlad: CNN Architecture for Weakly Supervised Place Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.08893"> Faster R-CNN Features for Instance Search</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.06811"> Where to Focus: Query Adaptive Matching for Instance Retrieval Using Convolutional Feature Maps</a>
					</div>
					<div class="papers-item">Learning similarity</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1709.01353"> Learning Non-Metric Visual Similarity for Image Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.02426"> CNN Image Retrieval Learns From Bow: Unsupervised Fine-Tuning with Hard Examples</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1711.02512"> Fine-Tuning CNN Image Retrieval with No Human Annotation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.01325"> Deep Image Retrieval: Learning Global Representations for Image Search</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1610.07940"> End-to-End Learning of Deep Visual Representations for Image Retrieval</a>
					</div>
					<div class="papers-header">Segmentation</div>
					<div class="papers-item">Weakly supervised</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.07485"> Weakly Supervised Semantic Labelling and Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.07188"> Weakly-Supervised Semantic Segmentation Using Motion Cues</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1701.08261"> Exploiting Saliency for Object Segmentation From Image Level Labels</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.02106"> What s the Point: Semantic Segmentation with Point Supervision</a>
					</div>
					<div class="papers-item">Edge-based</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1608.02755">Convolutional Oriented Boundaries</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.03328"> Semantic Image Segmentation with Task-Specific Edge Detection Using CNNs and a Discriminatively Trained Domain Transform</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.05198">One-Shot Video Object Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1701.04658">Convolutional Oriented Boundaries: From Image Segmentation to High-Level Tasks</a>
					</div>
					<div class="papers-item">Instance segmentation</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.03129"> Shape-Aware Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.08678"> Instance-Sensitive Fully Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1603.09742"> Object Boundary Guided Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.07709"> Fully Convolutional Instance-Aware Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.08991"> Object Detection Free Instance Segmentation with Labeling Transformations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.06204"> Learning to Segment Object Candidates</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1604.02135"> A Multipath Network for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.03159"> Monocular Object Instance Segmentation and Depth Ordering with CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.06870"> Mask R-CNN</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.10277"> Semantic Instance Segmentation via Deep Metric Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.02386"> Pixelwise Instance Segmentation with a Dynamically Instantiated Network</a>
					</div>
					<div class="papers-item">Deconvolution</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07122"> Multi-Scale Context Aggregation By Dilated Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.02719"> Large Kernel Matters -: Improve Semantic Segmentation By Global Convolutional Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.09326"> The One Hundred Layers Tiramisu: Fully Convolutional Densenets for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.07356"> Recombinator Networks: Learning Coarse-to-Fine Feature Aggregation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1602.03930"> Global Deconvolutional Networks for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1705.06820"> Pixel Deconvolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.06211"> Fully Convolutional Networks for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1506.04924"> Decoupled Deep Neural Network for Semi-Supervised Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1505.04366"> Learning Deconvolution Network for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1602.04984"> Deconvolutional Feature Stacking for Weakly-Supervised Semantic Segmentation</a>
					</div>
					<div class="papers-item">Video</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1511.06681"> Deep End2End Voxel2Voxel Prediction</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1608.03609"> Clockwork Convnets for Video Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.05674"> Unsupervised Object Segmentation in Video By Efficient Selection of Highly Probable Positive Features</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.05737"> Learning Video Object Segmentation with Visual Memory</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.07363"> Spatio-Temporal Image Boundary Extrapolation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.00487"> Recurrent Fully Convolutional Networks for Video Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1608.03066"> Object Detection, Tracking, and Motion Segmentation for Object-Level Video Segmentation</a>
					</div>
					<div class="papers-item">Morphology</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.00421">Flood-Filling Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1611.08303"> Deep Watershed Transform for Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.03593"> Reformulating Level Sets As Deep Recurrent Neural Network Approach to Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1704.02249"> Learned Watershed: End-to-End Learning of Seeded Segmentation</a>
					</div>
					<div class="papers-item">Conditionnal random fields</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.7062"> Semantic Image Segmentation with Deep Convolutional Nets and Fully Connected CRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1601.07649"> Discriminative Training of Deep Fully-Connected Continuous CRF with Task-Specific Loss</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.04068"> Fast Semantic Image Segmentation with High Order Context and Guided Filtering</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1605.07866"> Deepcut: Object Segmentation From Bounding Box Annotations Using Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1512.07928"> Learning Transferrable Knowledge for Semantic Segmentation with Deep Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1606.00915"> Deeplab: Semantic Image Segmentation with Deep Convolutional Nets, Atrous Convolution, and Fully Connected CRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1502.02734"> Weakly- and Semi-Supervised Learning of a DCNN for Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1502.03240">Conditional Random Fields As Recurrent Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1504.01013"> Efficient Piecewise Training of Deep Structured Models for Semantic Segmentation</a>
					</div>
					<div class="papers-item">Things and stuff</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1412.1283"> Convolutional Feature Masking for Joint Object and Stuff Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1703.08000"> Weakly Supervised Object Localization Using Things and Stuff Transfer</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1612.03716"> COCO-Stuff: Thing and Stuff Classes in Context</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/abs/1610.05861"> Stuffnet: Using  Stuff  to Improve Object Detection</a>
					</div>
				</div>
