				<div class="papers-wrap">
					<div class="papers-header">Action Recognition</div>
					<div class="papers-item">Convolution</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.07971.pdf">Non-local Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.06573.pdf">Convolutional Two-Stream Network Fusion for Video Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1708.05038.pdf">ConvNet Architecture Search for Spatiotemporal Feature Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.0767.pdf">Learning Spatiotemporal Features with 3D Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.08200.pdf">Temporal 3D ConvNets: New Architecture and Transfer Learning for Video Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.11248.pdf">A Closer Look at Spatiotemporal Convolutions for Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.01911.pdf">Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video</a>
					</div>
					<div class="papers-item">Pooling</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.02112.pdf">Generalized Rank Pooling for Activity Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.02895.pdf">Actionvlad: Learning Spatio-Temporal Aggregation for Action Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.06678.pdf">Deep Temporal Linear Encoding Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1602.00224.pdf">Order-Aware Convolutional Pooling for Video Based Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1701.05432.pdf">Higher-Order Pooling of CNN Features via Kernel Linearization for Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.06925.pdf">Second-Order Temporal Pooling for Action Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1503.01224.pdf">Temporal Pyramid Pooling Based Convolutional Neural Networks for Action Recognition</a>
					</div>
					<div class="papers-item">Recurrent Neural Network</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1411.4389.pdf">Long-Term Recurrent Convolutional Networks for Visual Recognition and Description</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.02346.pdf">Chained Predictions Using Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.01911.pdf">Beyond Temporal Pooling: Recurrence and Temporal Convolutions for Gesture Recognition in Video</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1502.04681.pdf">Unsupervised Learning of Video Representations Using LSTMs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1503.08909.pdf">Beyond Short Snippets: Deep Networks for Video Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.03958.pdf">RNN Fisher Vectors for Action Recognition and Image Annotation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.01561.pdf">Modeling Spatial-Temporal Clues in a Hybrid Deep Learning Framework for Video Classification</a>
					</div>
					<div class="papers-header">Classification</div>
					<div class="papers-item">Fine-grained</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.08086.pdf">Part-Stacked CNN for Fine-Grained Visual Categorization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07063.pdf">Fine-Grained Pose Prediction, Normalization, and Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.01130.pdf">Mining Discriminative Triplets of Patches for Fine-Grained Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1411.3159.pdf">Part Detector Discovery in Deep Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1709.02476.pdf">Fine-grained Recognition in the Wild: A Multi-Task Domain Adaptation Approach</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.06878.pdf">Mask-CNN: Localizing Parts and Selecting Descriptors for Fine-Grained Image Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.07889.pdf">Bilinear CNN Models for Fine-Grained Visual Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.3161.pdf">Object-Centric Sampling for Fine-Grained Image Classification</a>
					</div>
					<div class="papers-header">Convolution</div>
					<div class="papers-item">Adaptive</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.08403.pdf">Autofocus Layer for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1706.07966.pdf">Irregular Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.09673.pdf">Dynamic Filter Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.08881.pdf">Dense Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.08808.pdf">Deformable Part Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1706.00598.pdf">Dynamic Steerable Blocks in Deep Residual Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.07125.pdf">Local Binary Pattern Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.11473.pdf">Spatially-Adaptive Filter Units for Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.00388.pdf">Learning Filter Scale and Orientation In CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.07624.pdf">Dynamic Sampling Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1708.07199.pdf">3D Morphable Models as Spatial Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.02025.pdf">Spatial Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1709.01956.pdf">Learning Dilation Factors for Semantic Segmentation of Street Scenes</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.06211.pdf">Deformable Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.09076.pdf">Active Convolution: Learning the Shape of Convolution for Image Classification</a>
					</div>
					<div class="papers-item">Dilate</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.09914.pdf">Dilated Residual Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1706.05587.pdf">Rethinking Atrous Convolution for Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07122.pdf">Multi-Scale Context Aggregation By Dilated Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.07251.pdf">Dense CNN Learning with Equivalent Mappings</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.03499.pdf">WaveNet: A Generative Model for Raw Audio</a>
					</div>
					<div class="papers-item">Frequency</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1312.5851.pdf">Fast Training of Convolutional Networks Through FFTs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.7580.pdf">Fast Convolutional Nets with Fbfft: A GPU Performance Evaluation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1502.03436.pdf">Fast Neural Networks with Circulant Projections</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1501.06297.pdf">Shapenet: Convolutional Neural Networks on Non-Euclidean Manifolds</a>
					</div>
					<div class="papers-item">Graph</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.02136.pdf">Diffusion-Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.09375.pdf">Convolutional Neural Networks on Graphs with Fast Localized Spectral Filtering</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.08965.pdf">Graph Based Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.05163.pdf">Deep Convolutional Networks on Graph-Structured Data</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.08090.pdf">Graph Capsule Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.04043.pdf">Few-Shot Learning with Graph Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1706.05206.pdf">Dynamic Filters in Graph Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.08165.pdf">A Generalization of Convolutional Neural Networks to Graph-Structured Data</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1312.6203.pdf">Spectral Networks and Locally Connected Networks on Graphs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.02901.pdf">Dynamic Edge-Conditioned Filters in Convolutional Neural Networks on Graphs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.02907.pdf">Semi-Supervised Classification with Graph Convolutional Networks</a>
					</div>
					<div class="papers-item">Quantization</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.00363.pdf">Binaryconnect: Training Deep Neural Networks with Binary Weights During Propagations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1802.08530.pdf">Training wide residual networks for deployment using a single bit for each weight</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1702.03044.pdf">Incremental Network Quantization: Towards Lossless CNNs with Low-Precision Weights</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.6115.pdf">Compressing Deep Convolutional Networks Using Vector Quantization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.07125.pdf">Local Binary Pattern Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.01981.pdf">Deep Neural Networks Are Robust to Weight Binarization and Other Non-Linear Distortions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1510.00149.pdf">Deep Compression: Compressing Deep Neural Networks with Pruning, Trained Quantization and Huffman Coding</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.05421.pdf">Energy Efficient Hadamard Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.06085.pdf">PACT: Parameterized Clipping Activation for Quantized Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1608.06049.pdf">Local Binary Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1603.05279.pdf">XNOR-Net: Imagenet Classification Using Binary Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.04711.pdf">Ternary Weight Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.06597.pdf">Deep Local Binary Patterns</a>
					</div>
					<div class="papers-item">Rank</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.09746.pdf">Coordinating Filters for Faster Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1808.04303.pdf">Rank-1 Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1808.05517.pdf">Network Decoupling: From Regular to Depthwise Separable Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.6553.pdf">Speeding-Up Convolutional Neural Networks Using Fine-Tuned CP-Decomposition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1507.05775.pdf">Compression of Fully-Connected Layer in Neural Network By Kronecker Product</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06744.pdf">Training CNNs with Low-Rank Filters for Efficient Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.05426.pdf">Decomposeme: Simplifying Convnets for End-to-End Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.09194.pdf">Exploiting Local Structures with the Kronecker Layer in Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1608.04337.pdf">Factorized Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06067.pdf">Convolutional Neural Networks with Low-Rank Regularization</a>
					</div>
					<div class="papers-item">Sparse</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.01166.pdf">Generalizing the Convolution Operator to Extend CNNs to Irregular Domains</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1708.06500.pdf">Sparsity Invariant CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.08362.pdf">PerforatedCNNs: Acceleration Through Elimination of Redundant Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06739.pdf">Superpixel Convolutional Networks Using Bilateral Inceptions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.06694.pdf">Training Sparse Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1706.01307.pdf">Submanifold Sparse Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1712.02517.pdf">Broadcasting Convolutional Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.10091.pdf">Point Convolutional Neural Networks by Extension Operators</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.05561.pdf">Why Regularized Auto-Encoders Learn Sparse Representation?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1801.07372.pdf">Numerical Coordinate Regression with Convolutional Neural Networks</a>
					</div>
					<div class="papers-item">Structured</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.07289.pdf">Learning Steerable Filters for Rotation Equivariant CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.02971.pdf">Structured Receptive Fields in CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1806.01817.pdf">Perturbative Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.08961.pdf">Scaling the Scattering Transform: Deep Hybrid Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.01450.pdf">Gabor Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.02407.pdf">Structured Convolution Matrices for Energy-Efficient Deep Learning</a>
					</div>
					<div class="papers-header">Detection</div>
					<div class="papers-item">Arch</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1708.02002.pdf">Focal Loss for Dense Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.03144.pdf">Feature Pyramid Networks for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.06851.pdf">Beyond Skip Connections: Top-Down Modulation for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.06215.pdf">DetNet: A Backbone network for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1701.06659.pdf">DSSD : Deconvolutional Single Shot Detector</a>
					</div>
					<div class="papers-item">Attention</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.07729.pdf">G-CNN: an Iterative Grid Based Object Detector</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1702.01478.pdf">Attentional Network for Visual Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.04224.pdf">Spatial Memory for Context Reasoning in Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.06897.pdf">Single-Shot Refinement Neural Network for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.08208.pdf">Single-Shot Bidirectional Pyramid Networks for High-Quality Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.03776.pdf">Pronet: Learning to Propose Object-Specific Boxes for Cascaded Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.03718.pdf">Hierarchical Object Detection with Deep Reinforcement Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.07711.pdf">Adaptive Object Detection Using Adjacency and Zoom Prediction</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.7755.pdf">Multiple Object Recognition with Visual Attention</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06449.pdf">Learning to Decompose for Object Detection and Instance Segmentation</a>
					</div>
					<div class="papers-item">Box</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.01069.pdf">ME R-CNN: Multi-Expert Region-Based CNN for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.01086.pdf">Arbitrary-Oriented Scene Text Detection via Rotation Proposals</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.04702.pdf">Deepproposals: Hunting Objects and Actions By Cascading Deep Convolutional Layers</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1503.06350.pdf">Boosting Convolutional Features for Robust Object Proposals</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1601.04798.pdf">Scale-Aware Pixel-Wise Object Proposal Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1312.2249.pdf">Scalable Object Detection Using Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06015.pdf">Active Object Localization with Deep Reinforcement Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.06204.pdf">Learning to Segment Object Candidates</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1510.04445.pdf">DeepProposal: Hunting Objects By Cascading Deep Convolutional Layers</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.1441.pdf">Scalable, High-Quality Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.02146.pdf">Deepbox: Learning Objectness with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.05836.pdf">Object-Proposal Evaluation Protocol Is 'Gameable'</a>
					</div>
					<div class="papers-item">Count</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.05282.pdf">C-WSL: Count-guided Weakly Supervised Localization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.07821.pdf">An Aggregated Multicolumn Dilated Convolution Network for Perspective-Free Counting</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.04433.pdf">Crowd counting via scale-adaptive convolutional neural network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.02919.pdf">Learning Short-Cut Connections for Object Counting</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.02326.pdf">Learning to Point and Count</a>
					</div>
					<div class="papers-item">Non-Maximal Suppresion</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06437.pdf">A Convnet for Non-Maximum Suppression</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.11575.pdf">Relation Networks for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.04503.pdf">Improving Object Detection with One Line of Code</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.03533.pdf">Learning Detection with Diverse Proposals</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.02950.pdf">Learning Non-Maximum Suppression</a>
					</div>
					<div class="papers-item">Parts</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.08086.pdf">Part-Stacked CNN for Fine-Grained Visual Categorization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.00276.pdf">Joint Object and Part Segmentation Using Deep Learned Potentials</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07131.pdf">Deepm: A Deep Part-Based Model for Object Detection and Semantic Part Localization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1503.01508.pdf">Do We Need More Training Data?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.08289.pdf">Neural Activation Constellations: Unsupervised Part Model Discovery with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.5661.pdf">Deepid-Net: Deformable Deep Convolutional Neural Networks for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.06878.pdf">Mask-CNN: Localizing Parts and Selecting Descriptors for Fine-Grained Image Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1707.06175.pdf">Deformable Part-based Fully Convolutional Network for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1409.5403.pdf">Deformable Part Models Are Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.06066.pdf">Object Detection Networks on Convolutional Feature Maps</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.02736.pdf">Window-Object Relationship Guided Representation Learning for Generic Object Detections</a>
					</div>
					<div class="papers-item">Proposals</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.08879.pdf">Feature Selective Networks for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1708.02863.pdf">CoupleNet: Coupling Global Structure with Local Parts for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.00980.pdf">MetaAnchor: Learning to Detect Objects with Customized Anchors</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.08083.pdf">Fast R-CNN</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.01497.pdf">Faster R-CNN: Towards Real-Time Object Detection with Region Proposal Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.03540.pdf">Training Region-Based Object Detectors with Online Hard Example Mining</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.00600.pdf">Hypernet: Towards Accurate Region Proposal Generation and Joint Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.06409.pdf">R-FCN: Object Detection via Region-Based Fully Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1608.08021.pdf">PVANET: Deep But Lightweight Neural Networks for Real-Time Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.04143.pdf">Inside-Outside Net: Detecting Objects in Context with Skip Pooling and Recurrent Neural Networks</a>
					</div>
					<div class="papers-item">Weakly-supervised</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1403.1024.pdf">On learning to localize objects with minimal supervision</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.00138.pdf">Multiple Instance Detection Network with Online Instance Classifier Refinement</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1411.6228.pdf">From Image-Level to Pixel-Level Labeling with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.08289.pdf">Neural Activation Constellations: Unsupervised Part Model Discovery with Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.02853.pdf">Weakly Supervised Deep Detection Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.04897.pdf">TS2C: Tight Box Mining with Surrounding Segmentation Context for Weakly Supervised Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.04331.pdf">Contextlocnet: Context-Aware Deep Network Models for Weakly Supervised Localization</a>
					</div>
					<div class="papers-header">Face</div>
					<div class="papers-item">Recognition</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.02108.pdf">Megaface: A Million Faces for Recognition at Scale</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1502.02766.pdf">Multi-View Face Detection Using Deep Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1601.07883.pdf">Towards the Design of an End-to-End Automated System for Image and Video-Based Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.1265.pdf">Deeply Learned Face Representations Are Sparse, Selective, and Robust</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.01342.pdf">Face Identification with Bilinear CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1406.4773.pdf">Deep Learning Face Representation By Joint Identification-Verification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1501.05703.pdf">Beyond Frontal Faces: Improving Person Recognition Using Multiple Cues</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.02351.pdf">When Face Recognition Meets with Deep Learning: an Evaluation of Convolutional Neural Networks for Face Recognition</a>
					</div>
					<div class="papers-header">Invariance</div>
					<div class="papers-item">Measure</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1507.06535.pdf">Manitest: Are Classifiers Really Invariant?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1501.05152.pdf">Mirror, Mirror on the Wall, Tell Me, Is the Error Small?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.12177.pdf">Why do deep convolutional networks generalize so poorly to small image transformations?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06394.pdf">Geodesics of Learned Representations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1508.02844.pdf">What Is Holding Back Convnets for Detection?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.05963.pdf">Studying Invariances of Trained Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.00657.pdf">Confidence from Invariance to Image Transformations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.01320.pdf">What Can We Learn About CNNs From a Large Scale Controlled Object Dataset?</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1610.04574.pdf">Generalization Error of Invariant Classifiers</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.7122.pdf">Exploring Invariances in Deep Convolutional Neural Networks Using Synthetic Images</a>
					</div>
					<div class="papers-item">Rotation</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.07289.pdf">Learning Steerable Filters for Rotation Equivariant CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.04458.pdf">CubeNet: Equivariance to 3D Rotation and Translation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1712.06715.pdf">Deformable Classifiers</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.08961.pdf">Scaling the Scattering Transform: Deep Hybrid Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.08623.pdf">Deep Rotation Equivariant Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.06318.pdf">TI-POOLING: Transformation-Invariant Pooling for Feature Learning in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.12301.pdf">Rotation Equivariance and Invariance in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1507.08754.pdf">Flip-Rotate-Pooling Convolution and Split Dropout on Convolution Neural Networks for Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1709.01889.pdf">Polar Transformer Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.04642.pdf">Harmonic Networks: Deep Translation and Rotation Equivariance</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.09346.pdf">Rotation Equivariant Vector Field Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1602.02660.pdf">Exploiting Cyclic Symmetry in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.08498.pdf">Steerable CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.01450.pdf">Gabor Convolutional Networks</a>
					</div>
					<div class="papers-item">Scale</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.08403.pdf">Autofocus Layer for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.03597.pdf">Looking Outside of the Box: Object Detection and Localization with Multi-Scale Patterns</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1610.03623.pdf">Fast Training of Convolutional Neural Networks via Kernel Rescaling</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.05635.pdf">Competitive Multi-Scale Convolution</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.05837.pdf">Autoscaler: Scale-Attention Networks for Visual Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.07661.pdf">Neural Multigrid</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.08620.pdf">Wavelet Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.08189.pdf">An Analysis of Scale Invariance in Object Detection : SNIP</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07125.pdf">What Happened to My Dog in That Network: Unraveling Top-Down Generators in Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1411.6369.pdf">Scale-Invariant Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.03339.pdf">Attention to Scale: Scale-Aware Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.5104.pdf">Locally Scale-Invariant Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1602.01255.pdf">Learning Scale-Variant and Scale-Invariant Features for Deep Image Classification</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.04574.pdf">Revisiting Dilated Convolution- A Simple Approach for Weakly- and Semi- Supervised Semantic Segmentation</a>
					</div>
					<div class="papers-header">Correspondence</div>
					<div class="papers-item">Dense</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1501.00642.pdf">Unsupervised Feature Learning for Dense Correspondences Across Scenes</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.05837.pdf">Autoscaler: Scale-Attention Networks for Visual Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1810.08393.pdf">DGC-Net: Dense Geometric Correspondence Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.02939.pdf">PARN: Pyramidal Affine Regression Networks for Dense Semantic Correspondence Estimation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.03532.pdf">Fully-Trainable Deep Matching</a>
					</div>
					<div class="papers-item">Parts</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1712.06861.pdf">End-to-end weakly-supervised semantic alignment</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1702.00926.pdf">FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.04140.pdf">Neural Best-Buddies: Sparse Cross-Domain Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.03558.pdf">Universal Correspondence Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.04043.pdf">Scnet: Learning Semantic Correspondence</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.04749.pdf">Anchornet: A Weakly Supervised Network to Learn Geometry-Sensitive Features for Semantic Matching</a>
					</div>
					<div class="papers-header">Retrieval</div>
					<div class="papers-item">Fine-tune</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.02512.pdf">Fine-Tuning CNN Image Retrieval with No Human Annotation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1709.01353.pdf">Learning Non-Metric Visual Similarity for Image Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.02426.pdf">CNN Image Retrieval Learns From Bow: Unsupervised Fine-Tuning with Hard Examples</a>
					</div>
					<div class="papers-item">Pooling</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1811.07619.pdf">Weakly Supervised Soft-detection-based Aggregation Method for Image Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.01226.pdf">Context Aware Query Image Representation for Particular Object Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.06591.pdf">Object Level Deep Feature Pooling for Compact Image Representation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1510.07493.pdf">Aggregating Deep Convolutional Features for Image Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.05879.pdf">Particular Object Retrieval with Integral Max-Pooling of CNN Activations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.06914.pdf">Embedding Based on Function Approximation for Large Scale Image Search</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.08587.pdf">Deep Feature Aggregation with Heat Diffusion for Image Retrieval</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07247.pdf">Netvlad: CNN Architecture for Weakly Supervised Place Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1509.06033.pdf">Deep Convolutional Features for Image Based Retrieval and Scene Categorization</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.08893.pdf">Faster R-CNN Features for Instance Search</a>
					</div>
					<div class="papers-item">Spatial</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1403.6382.pdf">CNN Features Off-the-Shelf: an Astounding Baseline for Recognition</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1701.07901.pdf">Deep Region Hashing for Efficient Large-Scale Instance Search From Images</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.05879.pdf">Particular Object Retrieval with Integral Max-Pooling of CNN Activations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.08906.pdf">Voronoi-Based Compact Image Descriptors: Efficient Region-of-Interest Retrieval with VLAD and Deep-Learning-Based Descriptors</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.06321.pdf">Image Retrieval with Deep Local Features and Attention-Based Keypoints</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.6574.pdf">Visual Instance Retrieval with Deep Convolutional Networks</a>
					</div>
					<div class="papers-header">Segmentation</div>
					<div class="papers-item">Conditionnal Random Field</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.00915.pdf">Deeplab: Semantic Image Segmentation with Deep Convolutional Nets, Atrous Convolution, and Fully Connected CRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.06735.pdf">Instance-Level Segmentation with Deep Densely Connected MRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.08119.pdf">Higher Order Conditional Random Fields in Deep Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.07866.pdf">Deepcut: Object Segmentation From Bounding Box Annotations Using Convolutional Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.04068.pdf">Fast Semantic Image Segmentation with High Order Context and Guided Filtering</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1502.03240.pdf">Conditional Random Fields As Recurrent Neural Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.7062.pdf">Semantic Image Segmentation with Deep Convolutional Nets and Fully Connected CRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1601.07649.pdf">Discriminative Training of Deep Fully-Connected Continuous CRF with Task-Specific Loss</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.07928.pdf">Learning Transferrable Knowledge for Semantic Segmentation with Deep Convolutional Neural Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1504.01013.pdf">Efficient Piecewise Training of Deep Structured Models for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1502.02734.pdf">Weakly- and Semi-Supervised Learning of a DCNN for Semantic Image Segmentation</a>
					</div>
					<div class="papers-item">Deconvolution</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1707.07958.pdf">Residual Conv-Deconv Grid Network for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1602.04984.pdf">Deconvolutional Feature Stacking for Weakly-Supervised Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07356.pdf">Recombinator Networks: Learning Coarse-to-Fine Feature Aggregation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.02719.pdf">Large Kernel Matters -: Improve Semantic Segmentation By Global Convolutional Network</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.03821.pdf">ExFuse: Enhancing Feature Fusion for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.00551.pdf">Label Refinement Network for Coarse-to-Fine Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1705.06820.pdf">Pixel Deconvolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.04924.pdf">Decoupled Deep Neural Network for Semi-Supervised Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.06211.pdf">Fully Convolutional Networks for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1808.08127.pdf">Recalibrating Fully Convolutional Networks with Spatial and Channel 'Squeeze & Excitation' Blocks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1802.02611.pdf">Encoder-Decoder with Atrous Separable Convolution for Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.09326.pdf">The One Hundred Layers Tiramisu: Fully Convolutional Densenets for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.05181.pdf">Select, Attend, and Transfer: Light, Learnable Skip Connections</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.07122.pdf">Multi-Scale Context Aggregation By Dilated Convolutions</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1602.03930.pdf">Global Deconvolutional Networks for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.04366.pdf">Learning Deconvolution Network for Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.01534.pdf">Path Aggregation Network for Instance Segmentation</a>
					</div>
					<div class="papers-item">Edges</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1701.04658.pdf">Convolutional Oriented Boundaries: From Image Segmentation to High-Level Tasks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.03328.pdf">Semantic Image Segmentation with Task-Specific Edge Detection Using CNNs and a Discriminatively Trained Domain Transform</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1608.02755.pdf">Convolutional Oriented Boundaries</a>
					</div>
					<div class="papers-item">Instance</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.03129.pdf">Shape-Aware Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.05424.pdf">Associative Embedding-End-to-End Learning for Joint Detection and Grouping</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1712.04837.pdf">MaskLab: Instance Segmentation by Refining Object Detection with Semantic and Direction Features</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1604.02135.pdf">A Multipath Network for Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.06870.pdf">Mask R-CNN</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.02583.pdf">Bottom-Up Instance Segmentation Using Deep Higher-Order CRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.08498.pdf">Iterative Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1505.03159.pdf">Monocular Object Instance Segmentation and Depth Ordering with CNNs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1603.08695.pdf">Learning to Refine Object Segments</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.08991.pdf">Object Detection Free Instance Segmentation with Labeling Transformations</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.07674.pdf">Bounding Box Embedding for Single Shot Person Instance Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1708.02551.pdf">Semantic Instance Segmentation with a Discriminative Loss Function</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.07709.pdf">Fully Convolutional Instance-Aware Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1603.08678.pdf">Instance-Sensitive Fully Convolutional Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1603.09742.pdf">Object Boundary Guided Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.02767.pdf">Affinity CNN: Learning Pixel-Centric Pairwise Relations for Figure-Ground Embedding</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.04412.pdf">Instance-Aware Semantic Segmentation via Multi-Task Network Cascades</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1512.06735.pdf">Instance-Level Segmentation with Deep Densely Connected MRFs</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.10007.pdf">Instance Segmentation by Deep Coloring</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.10277.pdf">Semantic Instance Segmentation via Deep Metric Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.06885.pdf">Bridging Category-Level and Instance-Level Semantic Image Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1801.00868.pdf">Panoptic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1506.06204.pdf">Learning to Segment Object Candidates</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.01534.pdf">Path Aggregation Network for Instance Segmentation</a>
					</div>
					<div class="papers-item">Morph</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.00421.pdf">Flood-Filling Networks</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.02249.pdf">Learned Watershed: End-to-End Learning of Seeded Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.03593.pdf">Reformulating Level Sets As Deep Recurrent Neural Network Approach to Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.08303.pdf">Deep Watershed Transform for Instance Segmentation</a>
					</div>
					<div class="papers-item">Stuff</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1703.08000.pdf">Weakly Supervised Object Localization Using Things and Stuff Transfer</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1412.1283.pdf">Convolutional Feature Masking for Joint Object and Stuff Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1801.00868.pdf">Panoptic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1610.05861.pdf">Stuffnet: Using 'Stuff' to Improve Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1612.03716.pdf">COCO-Stuff: Thing and Stuff Classes in Context</a>
					</div>
					<div class="papers-item">Video</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1603.07188.pdf">Weakly-Supervised Semantic Segmentation Using Motion Cues</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.03131.pdf">Blazingly Fast Video Object Segmentation with Pixel-Wise Metric Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.03148.pdf">Deep Spatio-Temporal Random Fields for Efficient Video Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1611.05198.pdf">One-Shot Video Object Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1712.01127.pdf">Learning to Segment Moving Objects</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1608.03066.pdf">Object Detection, Tracking, and Motion Segmentation for Object-Level Video Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1605.07363.pdf">Spatio-Temporal Image Boundary Extrapolation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1606.00487.pdf">Recurrent Fully Convolutional Networks for Video Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.05674.pdf">Unsupervised Object Segmentation in Video By Efficient Selection of Highly Probable Positive Features</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1608.03609.pdf">Clockwork Convnets for Video Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1704.05737.pdf">Learning Video Object Segmentation with Visual Memory</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1511.06681.pdf">Deep End2End Voxel2Voxel Prediction</a>
					</div>
					<div class="papers-item">Weakly-supervised</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.06828.pdf">Transferable Semi-supervised Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1803.02563.pdf">Decoupled Spatial Neural Attention for Weakly Supervised Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1609.00446.pdf">Built-in Foreground-Background Prior for Weakly-Supervised Semantic Segmentation</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.03131.pdf">Blazingly Fast Video Object Segmentation with Pixel-Wise Metric Learning</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1603.07188.pdf">Weakly-Supervised Semantic Segmentation Using Motion Cues</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1711.10370.pdf">Learning to Segment Every Thing</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1804.02391.pdf">Learn To Pay Attention</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1807.04897.pdf">TS2C: Tight Box Mining with Surrounding Segmentation Context for Weakly Supervised Object Detection</a>
					</div>
					<div class="paper">
						<a href="https://arxiv.org/pdf/1805.04574.pdf">Revisiting Dilated Convolution- A Simple Approach for Weakly- and Semi- Supervised Semantic Segmentation</a>
					</div>
				</div>
